Front card:
<script type="text/javascript">
    var myInput = document.getElementById("typeans");
    if(myInput.addEventListener ) {
        myInput.addEventListener('keydown',this.keyHandler,false);
    } else if(myInput.attachEvent ) {
        myInput.attachEvent('onkeydown',this.keyHandler); /* damn IE hack */
    }

    function keyHandler(e) {
        var TABKEY = 9;
        if(e.keyCode == TABKEY) {
            this.value += "    ";
            if(e.preventDefault) {
                e.preventDefault();
            }
            return false;
        }
    }
</script>
{{Front}}
<br>
<br>
<br>
[[typebox:Back]]

Back card:
{{FrontSide}}

Styling
.card {
    font-size: 20px;
    text-align: center;
}

#qa {
    font-size: 35px;
    font-family: 'JetBrains Mono';
}

textarea {
    height: 200px;
    border-radius: 10px;
    padding-left: 20px;
    background-color: #272822;
}

#typeans {
    font-family: 'JetBrains Mono' !important;
    font-size: 25px !important;
    color: white !important;
}

center {
    padding-right: 200px;
    padding-left: 200px;
}
