[Unit]
Description=Jupyter-Notebook Daemon

[Service]
Type=simple
ExecStart=/bin/bash -c "/home/hasser1/envs/insaite/bin/jupyter-lab --no-browser --notebook-dir=/home/hasser1"
WorkingDirectory=/home/hasser1
User=hasser1
Group=hasser1
PIDFile=/run/jupyter-notebook.pid
Restart=on-failure
RestartSec=60s

[Install]
WantedBy=multi-user.target
